main {
	width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    background: lightblue;
}
aside {
    list-style-type: none;	
	width: 60%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.High {
    color: blue;
}
.Medium {
    color: yellow;
}
.Low {
    color: red;
}
.done {
  text-decoration: line-through;
}	
ul {
    list-style-type: none;
}
