<style>
  header {
    background-color: cyan;
    color: black;
    }
  footer 
{    font-size: 20pt;
    clear: both;
    background-color: cyan;
   }
  h1 {
    color: white;
  }
  h3 {
    color: white;
  }
  body {
    color: white;
    background-color: #6666CC;
  }
  nav li {
    font-size: 25pt;
    display: inline;
  }
  section#A {
    font-size: 20pt;
    float: left;
    height: 85%;
    width: 50%;
    color: white;
   }
  section#B {
    font-size: 20pt;
    float: right;
    width: 50%;
    color: white;
  }

  table {
    font-size: 15pt;
  }
  
</style>
