body {
  font-size: 20pt;
  background-size: cover;
  background-image: url("http://27.media.tumblr.com/tumblr_kxvnvq9qLr1qz6z2wo1_500.jpg");
  }
section.H ul{
background-color: red }
section.H li {
color: white}

section.M ul{
background-color: orange }
section.M li {
color: white}

section.L ul{
background-color: gray }
section.L li {
color: black}

section.D ul{
background-color: black }
section.D li {
color: #00ffff}

    
