section.high ul{
background-color: red }
section.high li {
color: white}

section.medium ul{
background-color: orange }
section.medium li {
color: white}

section.low ul{
background-color: gray }
section.low li {
color: black}

section.done ul{
background-color: black 
}
section.done li {
color: cyan
  }

    
